<%- include('../partials/header.ejs') %>
    <div class="blogs">

        <h1>Welcome To Your Profile Page</h1>

    </div>

    <div>
        <% if(blogs) { %>

            <h2>Blogs List</h2>

            <% for(let i = 0; i < blogs.length; i++) { %>

                <a href="/blogs/<%= blogs[i]._id%>">
                    <h3><%= blogs[i].title %></h3>
                </a>

                <p><%= blogs[i].body %></p>

                <hr>

            <% } %>

        <% } else { %>
        
            <h4> No Blogs Yet</h4>
        
        <% } %> 
    </div>

</body>
</html>